.redBlock {
    background-color: red;
}

:root {
    --sidebar-blue: rgba(25, 146, 212, 1);
    --background-grey: rgba(226,232,240,1);
    --transition-time: 200ms;
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --unread-background-color: rgba(220, 153, 153, 1);
    --unread-background-color-strong: rgba(250, 170, 170, 1);
    --read-background-color: rgba(153, 220, 153, 1);
    --read-background-color-strong: rgba(170, 250, 170, 1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 20% fit-content;
    width: min(100%);
    height: min(fit-content, 100%);
    overflow: auto;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: 20vh minmax(70vh, fit-content) 10vh;
}
button {
    border: none;
    outline: none;
    border-style: none;
    background: none;
    border-radius: 10%;
}

.headerTitle {
    font-size: 36px;
    font-weight: bold;
    margin-right: -235px;
}
.plus-btn {
    font-size: 60px;
    font-weight: 200;
    width: 60px;
    height: 70px;
    align-self: center;
    text-align: center;
}
button:hover {
    background-color: rgba(0,0,0,0.2);
}   
button:active {
    background-color: rgba(0,0,0,0.5);
}

.header {
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
}
.main {
    display: grid;
    overflow:scroll;
    gap: 10px;
    padding: 20px 40px;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.book-card {
    display:grid;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--unread-background-color);
    height: 250px;
    grid-template-rows: 2fr 2fr 3fr;
    text-align: center;
    transition: all var(--transition-time);
}

.book-card:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.5) 0px 0px 0px 1px;
    transform: scale(1.002);
    background-color: var(--unread-background-color-strong);
}
.book-card.read:hover {
    background-color: var(--read-background-color-strong);
}


.book-card .title {
    padding-top: 20px;
}

.book-card .title::before {
    content: '"';
}
.book-card .title::after {
    content: '"';
}

.book-card .author::before {
    content:'by ';
}

.book-card .author {
    padding-top: 10px;
}

.read {
    background-color: var(--read-background-color);
}

.read .toggle-read-btn {
    background-color: var(--read-background-color);
}

.wasRead-display::before {
    content: 'un';
}
    
.read .wasRead-display::before {
    content:'';
}

.toggle-read-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background-color: var(--unread-background-color);
}
.toggle-read-btn * {
    pointer-events: none;
}

.delete-book-btn {
    background-color: rgba(0,0,0,0.07);
    border-radius: 0;
}
.delete-book-btn * {
    pointer-events: none;
}

.card-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--background-grey)
}



.card-buttons button:hover {
    background: rgba(0,0,0,0.2);
    border-radius: 0;
}

.hidden {
    opacity: 0;
}

.footer {
    background-color: lightcoral;
    width: 100%;    
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-row: 3;
}

.footer button:hover {
    background: none;
    transform: scale(1.2);
}

img {
    width: 30px;
    height: auto;
}
